boardgamegeek2==1.0.1
certifi==2020.4.5.1
cffi==1.14.2
chardet==3.0.4
click==7.1.1
Flask==1.1.2
Flask-Cors==3.0.8
Flask-JWT==0.3.2
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
pony==0.7.13
psycopg2==2.8.5
psycopg2cffi==2.8.1
pycparser==2.20
PyJWT==1.4.2
requests==2.23.0
requests-cache==0.5.2
six==1.14.0
urllib3==1.25.8
Werkzeug==1.0.1
